<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <connectionStrings>
    <add
      name="TestDatabase"
      connectionString="Data source = W:\\ph.nerd.anton\\EpamTraining\\OpenNetTrainingStage2\\NET.S.2019.Sakovich.15\\MonkeyBanker\\MonkeyBanker.db"
    />
  </connectionStrings>
</configuration>